/*GENERAL SETTINGS*/

@font-face {
    font-family: 'Raleway';
    src: url(/fonts/Raleway-Regular.ttf);
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

img{
    width: 100%;
}

section{
    padding: 100px 0;
    background: #122e44;
}

.section_title{
    margin-bottom: 30px;
    
}

.section_title h2{
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding: 5px;
    letter-spacing: 2px;
    transition: all .5s ease;

}


.section_title h2:hover{
    background-color: #24CAAC;
}

/* HEADER */


header{
    background:rgba(11,11,11,255);
    border-bottom: 1px solid rgba(238, 238, 238, 0.801);
    position: fixed; 
    top: 0; 
    width: 100%; /* Full width */
    z-index: 5;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}

.navbar .logo{
    margin-right: auto;
    margin: 10px;
}

.navbar .logo img{
    opacity: .4;
    display: block;
    height: 60px;
    border-radius: 20px;
    margin-left: 10px;
    transition: .4s ease;
}

.navbar .logo:hover img{
    transform: scale(1.25);
    opacity: .7;
}

.nav_links li{
    padding: 10px;
    float: left;
}

.nav_links li a{
    border-radius: 3px;
    padding: 2px;
    display: block;
    color: #fff;
    letter-spacing: 2px;
    transition: .5s ease;
}

.nav_links li:hover a{
    background-color: #24CAAC;
    transform: scale(1.25);
}

/*---- ANASAYFA ----*/

#anasayfa{
    
}

.inner_anasayfa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
    color: #fff;
}

.child_anasayfa{
    flex-basis: 50%;
}


.child_anasayfa h1{
    font-size: 50px;
    color: #24CAAC;
    letter-spacing: 2px;
}

.span_child{
    color: #aa172f;
    letter-spacing: 2px;
}
.child_anasayfa p{
    font-size: 25px;
    margin-bottom: 12px;
    letter-spacing: 2px;
    color: #fff;
}

.child_anasayfa img{
    border-radius: 30px;
    margin-top: 40px;
}

.btn{
    background: #24CAAC;
    padding: 12px 28px;
    border-radius: 20px;
    color: #fff;
    border:1px #24CAAC solid;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .5s ease;
}

.btn:hover{
    background: transparent;
    transform: scale(1.1);
}


/* YAZILIMLAR */

#yazilimlar{

}

.inner_software{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: 20px auto;
    
}

.child_software{
    flex-basis: 31%;
    color: #fff;
    padding: 25px 20px;
    background: rgba(55, 66, 80, 0.281);
    border-radius: 5px ;
    border:1px solid transparent;
    transition: all .5s ease;
}

.child_software:hover{
    border: 1px solid #24CAAC;
    transform: scale(1.1);
}

.child_software .icon{
    font-size: 25px;
    color: #24CAAC;
}

.child_software h3{
    font-size: 20px;
    margin: 5px 0;
    font-weight: bold;
}

.child_software p{
    font-size: 16px;
}


/*---- SERTİFİKALARIM ----*/

.inner_courses{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
}

.chid_courses{
    flex-basis: 30%;
    color: #fff;
    padding: 20px 10px;
    border: 1px solid transparent;
    background: rgba(55, 66, 80, 0.281);
    transition: all .5s ease;
    border-radius: 5px;
}

.chid_courses:hover{
    border: 1px solid #24CAAC;
}

.courses_img img{
    height: 200px;
}

.chid_courses .details{
    display: flex;
    justify-content: space-between;
}

.chid_courses .details ul{
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;
}

.chid_courses .details ul li{
    color: gold;
}

/*---- BAŞARILAR ----*/


.inner_achivement{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    flex-wrap: wrap;
    align-items: center;
}

.child_achivement{
    flex-basis: 40%;
}

.child_achivement img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.child_achivement2{
    flex-basis: 40%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.single_detail{
    flex-basis: 48%;
    padding: 30px 20px;
    color: #fff;
    border-radius: 5px;
    transition: all .5s ease;
}

.single_detail:hover{
    transform: scale(1.1);
}
.sd1{
    background: #EAA023;
    margin-bottom: 15px;
}

.sd2{
    background: #E91E63;
    margin-bottom: 15px;
}

.sd3{
    background: #24caac;
    margin-bottom: 15px;
}

.sd4{
    background: #2f363e;
    margin-bottom: 15px;
}

/*---- İLETİŞİM ----*/

.inner_contact{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    flex-wrap: wrap;
    align-items: center;
}

.child_contact{
    flex-basis: 45%;
}

.child_contact form{
    padding: 50px 40px;
    background: #2f363e;
    border-radius: 5px;
}

.child_contact form input,textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #24292d;
    border: none;
    resize: none;
    border-radius: 15px;
    transition: all .5s ease;
}

.child_contact form input,textarea:focus{
    color: #fff;
}

.child_contact form input:focus{
    letter-spacing: 2px;
}

.child_contact form textarea:focus{
    letter-spacing: 2px;
}

.child_contact form input:last-child{
    margin-bottom: 0;
    background: #24CAAC;
    border: 1px solid #24CAAC;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .5s ease;
}

.child_contact form input:last-child:hover{
    transform: scale(1.1);
    background: #fff;
    color: #24292d;
}

.child_contact img{
    border-radius: 30px;
}


/*---- FOOTER ----*/

footer{
    padding: 90px 0;
    background:rgba(11,11,11,255);
    border-top: 1px solid rgba(238, 238, 238, 0.801);
}

.footerItem{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    flex-wrap: wrap;
    
}

.col3{
    flex-basis: 33%;
    text-align: center;
}

.col3 h2{
    color: #fff;
    font-size: 22px;
    font-weight: bol;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.col3 p{
    font-size: 18px;
    color: gray;
    letter-spacing: 1px;
}

.logo2 img{
    height: 50px;
    width: 80px;
    opacity: .5;
    border-radius: 30px;
    transition: all .5s ease;
}

.logo2 img:hover{
    transform: scale(1.2);
}

.quick_links li{
    margin-bottom: 10px;
}

.quick_links li a{
    font-size: 18px;
    color: gray;
    letter-spacing: 1px;
    transition: all .5s ease;
}

.quick_links li a:hover{
    color: #fff;
    text-decoration: underline;
}

.socialLinks{
    display: flex;
    justify-content: center;
}

.socialLinks .fa-brands{
    font-size: 20px;
    color: gray;
    padding: 10px;
    transition: all .5s ease;
}

.socialLinks .fa-brands:hover{
    transform: scale(1.2);
    color: #fff;
}

/* MEDIA QUERIES */

@media screen and  (max-width:960px){

    .child_anasayfa h1{
        font-size: 40px;
    color: #24CAAC;
    letter-spacing: 2px;
    }

    .span_child{
        font-size: 30px;
        color: #aa172f;
        letter-spacing: 2px;
    }

    .child_anasayfa p{
        font-size: 15px;
        margin-bottom: 12px;
        
    }
    .child_anasayfa .btn{
        padding: 10px 24px;
        font-weight: 400;
    }

    .courses_img img{
        height: 150px;
    }

    .single_detail{
        padding: 20px 10px;
    }

    .child_contact form{
        padding: 20px 10px;
        background: #2f363e;
        border-radius: 5px;
    }

    footer{
        padding: 60px 0;
        background:rgba(11,11,11,255);
        border-top: 1px solid rgba(238, 238, 238, 0.801);
    }
}


@media screen and  (max-width:720px){

    header .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .logo{
        margin: 0 auto;
    }
    
    #anasayfa{
        margin-top: 30px;
    }

    .child_software{

        padding: 15px 10px;

    }

    .child_software h3{
        font-size: 16px;
    }
    
    .child_software p{
        font-size: 12px;
        letter-spacing: 1px;
    }

    .inner_courses{
        flex-direction: column;
        
    }

    .chid_courses{
        margin-bottom: 10px;
    }

    .child_achivement2{
        flex-direction: column;
    }

    footer .col3 p{
        font-size: 14px;
    }

    footer .col3 h2{
        font-size: 20px;
    }

    .quick_links li a{
        font-size: 14px;
    }

}

@media screen and  (max-width:540px){
    .nav_links li{
        padding: 5px;

    }
    
    .nav_links li a{
        font-size: 14px;
    }

}